body {
	background-image: url("recordplayer.jpeg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-attachment: fixed;
	color: #fff;
}
.hB {
	display: inline-block;
	margin: 55px;
}
.hubBar{
	background-color: rgba(255,0,0,1);
	color: #fff;
	width: 100%;
	height: 150px;
	float: left;
	/*display: flex;*/
}
.logo img{
	width: 150px;
	height: auto;
	float: left;
}
.search{
	margin: auto;
}
.hItem{
	display: inline-block;
	margin-bottom: 42px;
}
.albumArt{
	width: 300px;
	height: auto;
	float: left;
	margin-right: 50px;
	margin-bottom: 30px;
}
.albumDescript {
	width: 85%;
	min-height: 480px;
	height: auto;
	background-color: rgba(128,0,255,.8);
	color: #fff;
	/*margin-bottom: 50px;*/
}
.aDText {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}
.aDText p {
	font-size: 25px;
}
.hubButtons {
  background-color: rgba(128,0,255,1); 
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
  margin-right: 10px;
}

.hubButtons:hover {
  background-color: rgba(255,255,255,1); 
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: .2s ease;
  margin-right: 10px;
}

.homeLetter {
	background-color: rgba(128,0,255,.8);
	color: #fff;
	width: 500px;
	height: auto;
}
.albumQuery img {
	width: 150px;
	height: 150px;
	float: left;
}
.albumQuery {
	background-color: rgba(128,0,255,.8);
	color: #fff;
	width: 80%;
	height: 200px;
	/*margin: auto;*/
}
.albumQuery:hover {
	background-color: rgba(188,0,128,.8);
}
.reviewPost {
	background-color: rgba(188,0,128,.8);
	color: #fff;
	width: 85%;
	text-align: left;
}
#postUser {
	font-size: 32px;
}
#postUser a{
	color: rgba(0,255,0,1);	
}
#postUser a:hover{
	color: rgba(255,255,255,1);	
	transition: .2s ease;
}
.postText {
	margin: 30px;
	font-size: 17px;
}
.createRText textarea{
	resize: none;
	margin-left:200px;
}
.scoreInput {
	background-color: rgba(128,0,255,.8);
	color: #fff;
	width: 500px;
	height: auto;
	padding: 10px;
}
.genSection {
	background-color: rgba(128,0,255,.8);
	color: #fff;
	width: 90%;
	height: auto;
	padding: 10px;
}